In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from datetime import timedelta

from yahoo_fin.stock_info import get_data, get_balance_sheet
from get_all_tickers import get_tickers as gt # want to use this for tickers data

import pandas_market_calendars as mcal

import csv

from progressbar import ProgressBar

In [2]:
sp500 = pd.read_csv('sp500.csv')

In [3]:
sp500.head()

,Unnamed: 0,id,date,ticker,text
0,0,0,01-01-2014,T,HAPPY NEW YEARS TO MY N$T SQUAD @AhColdKelo @b...
1,1,1,01-01-2014,HD,Dow #Stocks Trend $AXP $UTX $CSCO $KO $HD $DIS...
2,2,2,01-01-2014,HD,$HD Analysis Scarred U.S. consumers a hard sel...
3,3,3,01-01-2014,BAC,$BAC - Eleven companies that had a great run i...
4,4,4,01-01-2014,GOOG,"$GOOG Removing Edits in a Document, and Minimi..."

In [4]:
len(sp500)

4384749

In [5]:
sp500['id'].nunique()

4384749

In [6]:
dailyClose = pd.read_csv('yahoo_daily_sp500.csv')
uniqueTickers = dailyClose['ticker'].unique()
len(uniqueTickers)

499

In [7]:
dailyClose['date'] = pd.to_datetime(dailyClose['date'])

In [8]:
sp500['date'] = pd.to_datetime(sp500['date'])

In [11]:
sp500=sp500[['id', 'date', 'ticker']]

In [10]:
dailyClose = dailyClose.loc[dailyClose['date'] > '2008-09-01'][['date', 'ticker', 'adjclose']]
dailyClose.head(10)

             date ticker    adjclose
891215 2008-09-02    MTD  105.870003
891216 2008-09-02    WFC   22.260929
891217 2008-09-02    EQR   23.168758
891218 2008-09-02   SNPS   21.190001
891219 2008-09-02    UAA    4.403750
891220 2008-09-02    MCD   43.610111
891221 2008-09-02    UNP   31.635942
891222 2008-09-02   AAPL    5.112499
891223 2008-09-02    CLX   41.927345
891224 2008-09-02    SHW   51.617455

In [71]:
miniTwitter = sp500.loc[sp500['ticker'].isin(uniqueTickers[300:350])].sort_values('date', ascending=True)

In [72]:
len(miniTwitter)

1207265

In [73]:
pbar = ProgressBar()

file = open("Tickers300-349.csv","w",newline='')
alltweets = csv.writer(file)

for uniqTicker in pbar(uniqueTickers[300:350]):
    tempData = miniTwitter.loc[miniTwitter['ticker'] == uniqTicker]
    tempClose = dailyClose.loc[dailyClose['ticker'] == uniqTicker].set_index('date')
    
    for row in tempData.iterrows():
        tempdict = dict()
        tweetId = row[1][0]
        date = row[1][1]
        ticker = row[1][2]
        
        
        try:
            tempTimeframe = tempClose.loc[date - timedelta(days=10) : date].tail(6)
            dp5 = tempTimeframe['adjclose'].iloc[0]
            dp4 = tempTimeframe['adjclose'].iloc[1]
            dp3 = tempTimeframe['adjclose'].iloc[2]
            dp2 = tempTimeframe['adjclose'].iloc[3]
            dp1 = tempTimeframe['adjclose'].iloc[4]
            dp0 = tempTimeframe['adjclose'].iloc[5]
        except Exception as e:
            dp5 = None
            dp4 = None
            dp3 = None
            dp2 = None
            dp1 = None
            dp0 = None

        try:
            twoWeeks = tempClose.loc[date + timedelta(days=14): date + timedelta(days=18)].head(1)['adjclose'][0]
        except:
            twoWeeks = None

        try:
            threeMonths = tempClose.loc[date + timedelta(days=90): date + timedelta(days=93)].head(1)['adjclose'][0]
        except:
            threeMonths = None

        try:
            oneYear = tempClose.loc[date + timedelta(days=365): date + timedelta(days=368)].head(1)['adjclose'][0]
        except:
            oneYear = None
            
            
        try: 
            alltweets.writerow([tweetId, date, ticker, dp5, dp4, dp3, dp2, dp1, dp0, twoWeeks, threeMonths, oneYear])
        except UnicodeEncodeError as e:
            print(e)
            
file.close()

100% |########################################################################|

In [74]:
recentFile = pd.read_csv('Tickers300-349.csv')
len(recentFile)

1207264

In [15]:
file.close()

In [ ]:
one = pd.read_csv('Tickers0-24.csv', index_col='ID', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
two = pd.read_csv('Tickers25-49.csv', index_col='ID', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
three = pd.read_csv('Tickers50-74.csv', index_col='ID', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
four = pd.read_csv('Tickers75-99.csv', index_col='ID', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
five = pd.read_csv('Tickers100-124.csv', index_col='ID', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
six = pd.read_csv('Tickers125-149.csv', index_col='ID', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
seven = pd.read_csv('Tickers150-174.csv', index_col='ID', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
eight = pd.read_csv('Tickers175-199.csv', index_col='ID', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
nine = pd.read_csv('Tickers200-224.csv', index_col='ID', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
ten = pd.read_csv('Tickers225-249.csv', index_col='ID', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
eleven = pd.read_csv('Tickers250-274.csv', index_col='ID', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
twelve = pd.read_csv('Tickers275-299.csv', index_col='ID', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
thirteen = pd.read_csv('Tickers300-324.csv', index_col='ID', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
fourteen = pd.read_csv('Tickers325-349.csv', index_col='ID', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
# fifteen = pd.read_csv('Tickers350-374.csv', index_col='ID', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
sixteen = pd.read_csv('Tickers375-399.csv', index_col='ID', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
seventeen = pd.read_csv('Tickers400-424.csv', index_col='ID', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
eighteen = pd.read_csv('Tickers425-449.csv', index_col='ID', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
nineteen = pd.read_csv('Tickers450-474.csv', index_col='ID', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
twenty = pd.read_csv('Tickers475-End.csv', index_col='ID', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])

In [ ]:
eighteen.head()

In [ ]:
fifteen = pd.read_csv('Tickers350-374.csv', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
len(fifteen)

In [ ]:
fifteen.head()

In [ ]:
fifteen['ID'].dropna(inplace=True)

In [ ]:
len(fifteen)

In [ ]:
fifteen.set_index('ID', inplace=True)

In [ ]:
files = [one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve, thirteen, fourteen,
        fifteen, sixteen, seventeen, eighteen, nineteen, twenty]

In [ ]:
allFiles = pd.concat(files)

In [ ]:
len(allFiles)

In [ ]:
sp500 = allTheTwitter.loc[allTheTwitter['ticker'].isin(uniqueTickers)]

In [ ]:
sp500.head()

In [ ]:
allFiles['ID'] = allFiles.index

In [ ]:
allFiles.head()

In [ ]:
len(allFiles)

In [ ]:
allFiles['ID'].nunique()

In [49]:
one = pd.read_csv('Tickers1-98.csv', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
two = pd.read_csv('Tickers99-199.csv', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
three = pd.read_csv('Tickers200-299.csv', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
four = pd.read_csv('Tickers300-349.csv', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
five = pd.read_csv('Tickers350-399.csv', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
six = pd.read_csv('Tickers400-449.csv', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])
seven = pd.read_csv('Tickers450-End.csv', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])

In [76]:
four = pd.read_csv('Tickers300-349.csv', header=None, names=['ID', 'Date', 'Ticker', '5dp', '4dp', '3dp', '2dp', '1dp', 'DayOf', 'twoWeeks', 'threeMonths', 'oneYear'])

In [77]:
allFiles = [one, two, three, four, five, six, seven]

In [53]:
allTheTwitter = pd.read_csv('allTheTwitter.csv')

C:\Users\Haig.Bernard\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,1,2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [54]:
allTwitter = allTheTwitter.loc[allTheTwitter['ticker'].isin(uniqueTickers)]

In [78]:
len(allTwitter)

4384749

In [81]:
allTwitter.columns = ['ID', 'date', 'ticker', 'text']

In [82]:
allTwitter.head()

  ID        date ticker                                               text
0  0  01-01-2014      T  HAPPY NEW YEARS TO MY N$T SQUAD @AhColdKelo @b...
1  1  01-01-2014     HD  Dow #Stocks Trend $AXP $UTX $CSCO $KO $HD $DIS...
2  2  01-01-2014     HD  $HD Analysis Scarred U.S. consumers a hard sel...
3  3  01-01-2014    BAC  $BAC - Eleven companies that had a great run i...
4  4  01-01-2014   GOOG  $GOOG Removing Edits in a Document, and Minimi...

In [92]:
bigFile = pd.concat(allFiles)

In [94]:
bigFile['ID'].nunique()

4384749

In [83]:
bigFile.head()

,ID,Date,Ticker,5dp,4dp,3dp,2dp,1dp,DayOf,twoWeeks,threeMonths,oneYear
0,16255035,2012-10-10 00:00:00,CB,64.161308,64.576012,64.799942,64.750191,64.227669,64.310616,66.135254,66.746979,79.021721
1,16255037,2012-10-23 00:00:00,CB,65.272705,65.762047,67.760857,66.782173,67.089027,66.558258,65.554703,70.802368,81.667946
2,16255039,2012-10-29 00:00:00,CB,66.782173,67.089027,66.558258,66.135254,66.359200,65.811775,64.318893,70.643837,81.752754
3,16255040,2013-04-15 00:00:00,CB,75.551559,75.962700,76.306740,77.120636,77.187790,74.519470,74.611794,78.647804,86.000031
4,16255041,2013-05-09 00:00:00,CB,74.385223,75.434090,76.088585,76.684349,77.414330,77.011574,74.771217,75.730438,88.190636

In [99]:
newBigBoi = allTwitter[['ID', 'text']].merge(bigFile, how='inner', on='ID')

In [100]:
len(newBigBoi)

3668700

In [102]:
newBigBoi['Ticker'].nunique()

484

In [104]:
newBigBoi.to_csv('mostOfTwitter.csv', header=True)

In [105]:
newBigBoi.head()

,ID,text,Date,Ticker,5dp,4dp,3dp,2dp,1dp,DayOf,twoWeeks,threeMonths,oneYear
0,0,HAPPY NEW YEARS TO MY N$T SQUAD @AhColdKelo @b...,2014-01-01 00:00:00,T,23.053471,23.226255,23.365816,23.379099,23.392389,23.365816,22.754858,23.630304,23.715950
1,1,Dow #Stocks Trend $AXP $UTX $CSCO $KO $HD $DIS...,2014-01-01 00:00:00,HD,68.808685,68.877014,69.654289,69.731133,69.987389,70.329041,69.244316,68.190804,90.250877
2,2,$HD Analysis Scarred U.S. consumers a hard sel...,2014-01-01 00:00:00,HD,68.808685,68.877014,69.654289,69.731133,69.987389,70.329041,69.244316,68.190804,90.250877
3,3,$BAC - Eleven companies that had a great run i...,2014-01-01 00:00:00,BAC,13.946872,13.955760,13.911316,13.929094,13.813537,13.840203,15.244671,15.422777,16.026943
4,3,@Issaquahfunds Hedged our $MSFT position into ...,2014-01-01 00:00:00,BAC,13.946872,13.955760,13.911316,13.929094,13.813537,13.840203,15.244671,15.422777,16.026943

In [ ]:
test = pd.read_csv('mostOfTwitter.csv')

In [ ]:
len(test)